.cell {
    display: table-cell;
    border: 1px solid black;
    font-size: x-small;
    padding: 1em;
    text-align: center;
    width: 15px;
    height: 15px;
}

.row {
    display: table-row;
    clear: both;
    overflow: hidden;
}

.cell:hover {
    background-color: #adadac;
}

#playerGrid, #compGrid {
    margin: 25px;
    justify-content: center;
    padding: .25em;
    display: grid;
}

#playArea {
    display: flex;
    justify-content: center;
    
}

#playerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boardTitle{
    margin: -3em;
}

.table {
    display: table;
    border: 2px solid black;
}